livekit-agents
livekit-plugins-groq
livekit-plugins-google
livekit-plugins-deepgram
livekit-plugins-elevenlabs
livekit-plugins-silero
livekit-plugins-noise-cancellation
python-dotenv
pydub
aiohttp
qdrant-client
sentence-transformers
edge-tts
livekit-api
PyJWT
mem0ai
jinja2
gtts
pyttsx3